@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("/fonts/IRANYekanWeb(FaNum)Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("/fonts/IRANYekanWeb(FaNum)Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IranYekan";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/IRANYekanWeb(FaNum)Bold.ttf") format("truetype");
}
* {
  font-family: "IranYekan";
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to bottom, #517ff6, #253663);
  background-repeat: no-repeat;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  font-size: 14px;
}
